// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #141E46;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$azul: #141E46;
$vermelho: #BB2525;
$rose: #FF6969;
$creme:#FFF5E0;
$branco: #ffff;
$text-grey: #7c7c7c;
