@property --gradiente-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root{
  --clr-1: #111;
  --clr-2: #111;
  --clr-3: #ff0000;
  --clr-4: #ffd0d0;
  --clr-5: #2822c1;
}

@keyframes rotation {
  0%  {--gradiente-angle: 0deg;}
  100%  {--gradiente-angle: 360deg;}
}

.body{
  background-color: transparent;
  min-height: 100vh;
  display: grid;
  place-content: center;
  h1{
    color: #f5e5e5;
    text-align: center;
  }

  button{
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 60%;
    border-radius: 40px;
    padding: 12px 24px;
    font-weight: bold;
    font-size: larger;
    color: black;
  }
}


.card-jairo{
  height: 60vh;
  aspect-ratio: 1 / 1.5;
  background-color: var(--clr-1);
  border-radius: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.card-jairo::before, .card-jairo::after {
  content: "";
  position: absolute;
  inset: -.3rem;
  z-index: -1;
  background: conic-gradient(
      from var(--gradiente-angle),
      var(--clr-3),
      var(--clr-4),
      var(--clr-5),
      var(--clr-4),
      var(--clr-3)
  );
  border-radius: inherit;
  animation: rotation 6s linear infinite;
}

.card-jairo::after{
  filter: blur(3rem);
}



.interno{
  margin: auto;
  display: flex;
  flex-direction: column;
}
