@media (max-width: 540px) {
  .container-cellphone{
    background-color: $azul;
    height: 100vh;
    text-align: center;

    .space-gui {
      margin: 40px 0;
      color: $creme;
    }

    .img-schedule {
      width: 100%;
    }

    .form-schedule-info{
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 20px;
      color: $creme;

      .optional {
        margin-bottom: 0 !important;
      }

    }

    .form-schedule-label {
      color: $branco;
    }

    .btn-schedule{
      margin: 10px 0;
    }

    .btn-gui {
      width: 100%;
      background-color: #BB2525;
      border-radius: 27px;
      padding: 12px 0;
      font-weight: bold;
      color: $creme;
      margin-top: 15px;
      font-size: 30px;
    }

    .btn-back {
      margin-top: 50px;
      a{
        color: $creme;
      }
    }
  }

  #schedule_worker1_name, #schedule_worker2_name {
    background-color: #b6b6b6;
    pointer-events: none;
    text-align: center;
    font-size: 20px;
  }
  #schedule_worker1_id, #schedule_worker2_id {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }
}
