<div class="bg-body-tertiary p-5 rounded mt-3">
  <h1>Criar usuario</h1>
  <p class="lead">This example is a quick exercise to illustrate how the bottom navbar works.</p>
  <a class="btn btn-lg btn-primary" href="/docs/5.3/components/navbar/" role="button">View navbar docs »</a>
</div>
<div class="bg-body-tertiary p-5 rounded mt-3">
  <h1>Criar Novo Socorrista</h1>
  <p class="lead">This example is a quick exercise to illustrate how the bottom navbar works.</p>
  <a class="btn btn-lg btn-primary" href="/docs/5.3/components/navbar/" role="button">View navbar docs »</a>
</div>
<div class="bg-body-tertiary p-5 rounded mt-3">
  <h1>Graficos</h1>
  <p class="lead">This example is a quick exercise to illustrate how the bottom navbar works.</p>
  <a class="btn btn-lg btn-primary" href="/docs/5.3/components/navbar/" role="button">View navbar docs »</a>
</div>
<div class="bg-body-tertiary p-5 rounded mt-3">
  <h1>Estoque</h1>
  <p class="lead">This example is a quick exercise to illustrate how the bottom navbar works.</p>
  <a class="btn btn-lg btn-primary" href="/docs/5.3/components/navbar/" role="button">View navbar docs »</a>
</div>
