<div class="background-color-azul zeromp">
  <div class=" w-100 container full-height">
    <div class="centraliziation-of-the-map">
    </div>

    <div class="messages-box">

    </div>
  </div>

</div>
