<div class="body">
    <div class="card-jairo">
        <div class="interno">
            <h1>Você tem uma nova Emergencia</h1>
            <%= link_to "OK", "emergency_path", class: "button-aceitar-emergencia" %>
        </div>
    </div>
</div>
