<div class="body">
    <div class="card-jairo">
        <div class="interno">
            <h1>Você tem uma nova Emergencia</h1>
            <form action="/emergencies/<%= @emergency.id %>" method="get" class="d-flex">
              <button class="button-aceitar-emergencia" type="submit">OK</button>
            </form>
        </div>
    </div>
</div>
