

<%# Hero %>
  <div class="text-center background-image-hero py-5 ">
    <div class="px-4 py-5 ">
      <h1 class="my-5 display-5 py-5 text-creme text-shadow-jairo fw-bolder text-lg" > TRAGA SUA EQUIPE PARA O FUTURO!</h1>
      <div class="col-lg-6 mx-auto py-5">
        <p class="lead mb-4 text-creme text-shadow-jairo fw-bolder">SIAS - Sistema de Auxilio ao Socorrista, provemos soluções para sistemas de resgate, diminuindo tempo de resposta de forma sustentável</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center py-5">
          <a href="#" class="botao-azul ">Contato</a>
        </div>
      </div>
    </div>
  </div>

<%# a resoluçao - itens%>
<div class="container px-4 margin-top-100 border-bottom">

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5 ">
      <div class="col d-flex flex-column align-items-start gap-2 animation-left">
        <h2 class="fw-bold text-vermelho">A Revolução Necessária no seus serviços</h2>
        <p class="text-grey">Uma transformação muito aguardada, elevando seus serviços a novos patamares de eficiência, inovação e utilidade.</p>
        <a href="#" class="botao-azul">Contato</a>
      </div>

      <div class="col animation-Rigth">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center icons-vermelhos bg-gradient fs-4 "  style="width : 2.2em; height : 2.2em; border-radius: 0.5em;">
              <i class="fa-solid fa-brain" ></i>
            </div>
            <h4 class="fw-semibold mb-0 text-azul">Implementação de IA</h4>
            <p class="text-grey">Implementamos IA para tomada de decisão mais rapida e precisa.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center icons-vermelhos bg-gradient fs-4 " style="width : 2.2em; height : 2.2em; border-radius: 0.5em;">
             <i class="fa-regular fa-map" ></i>
            </div>
            <h4 class="fw-semibold mb-0  text-azul">Mapas dinamicos</h4>
            <p class=" text-grey">Geração de mapas e localizações para melhorar guiar os socorristas.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center icons-vermelhos bg-gradient fs-4 "  style="width : 2.2em; height : 2.2em; border-radius: 0.5em;">
             <i class="fa-solid fa-network-wired" ></i>
            </div>
            <h4 class="fw-semibold mb-0  text-azul">Unificação Tecnológica</h4>
            <p class=" text-grey">Apenas um aplicativo para gerir as ocorrencias.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center icons-vermelhos text-azul fs-4 "  style="width : 2.2em; height : 2.2em; border-radius: 0.5em;">
              <i class="fa-brands fa-envira"></i>
            </div>
            <h4 class="fw-semibold mb-0  text-azul">Redução de impacto ambiental</h4>
            <p class=" text-grey">Com a melhor gerencia de veiculos conseguimos reduzir o impacto ambiental.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

<%# quanto tempo e imagens %>
<div class="container py-4 margin-top-100">
    <div class="p-4 mb-4 bg-body-tertiary border-radius-60  text-vermelho ">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Quanto tempo você está disposto a comprometer?</h1>
        <p class="col-md-8 fs-4"> A eficiência é crucial em emergências. Implemente hoje nosso aplicativo de emergência e assegure uma resposta imediata.</p>
      </div>
    </div>

    <div class="row align-items-md-stretch ">
      <div class="col-md-6 ">
        <div class="p-5 background-img-body border-radius-60 heigth-200">

        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border border-radius-60 background-color-azul">
          <p class="">Com nosso aplicativo de emergência, não há espaço para atrasos. Implementamos tecnologias avançadas para garantir resposta imediata. Estamos alinhados com as melhores práticas globais, mantendo a segurança e bem-estar da nossa comunidade como prioridade máxima. Juntos, estamos na vanguarda, sempre prontos para enfrentar desafios, sem deixar que o tempo seja um obstáculo à segurança.</p>
        </div>
      </div>
    </div>
  </div>

<%# valores%>
<div class="container px-4 py-5 margin-top-100" id="featured-3">
    <h2 class="pb-2 border-bottom fw-bold text-vermelho">Nossos valores</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col animation-left">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3 ">
          <i class="fa-solid fa-lightbulb text-azul"></i>
        </div>
        <h3 class="fs-2  text-azul">Inovação Sustentável</h3>
        <p class="text-grey">Desenvolvemos soluções inovadoras de IA para emergências, focando na resiliência a longo prazo e sustentabilidade ambiental.</p>

      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
          <i class="fa-solid fa-person-chalkboard text-azul"></i>
        </div>
        <h3 class="fs-2 text-azul">Ética e Transparência</h3>
        <p class="text-grey">Compromisso total com IA ética, garantindo transparência em algoritmos, proteção da privacidade e responsabilidade social para benefício coletivo.</p>

      </div>
      <div class="feature col animation-Rigth">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
          <i class="fa-solid fa-people-arrows text-azul"></i>
        </div>
        <h3 class="fs-2 text-azul">Colaboração Comunitária</h3>
        <p class="text-grey">Estabelecemos parcerias sólidas com comunidades locais, assegurando que nossa tecnologia atenda às necessidades reais de maneira responsiva e colaborativa.</p>

      </div>
    </div>
  </div>





<%# contato %>
<div class="container margin-top-100 mb-5 mudar-display">
<div class="descrição-breve p-4">
  <h2 class="text-vermelho fw-bolder">Sobre nós</h2>
  <p class="text-grey">No SIAS, acreditamos que a tecnologia pode ser uma aliada crucial na missão de salvar vidas. Junte-se a nós enquanto transformamos o cenário de resposta a emergências, proporcionando soluções inovadoras que fazem a diferença quando mais importa.</p>
</div>
<div class="formulario-contato p-4">
  <h2 class="text-azul fw-bolder">Contato</h2>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label text-grey">Endereço de Email</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label text-grey">Mensagem</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button class="botao-azul ">Enviar Mensagem</button>
</div>
<%# footer %>
</div>
<footer class="py-3 margin-top-100">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
    <p class="text-center text-muted">© 2024 SIAS, Inc</p>
  </footer>
