.button-vermelho{
  background-color: $vermelho;
  border-radius: 20px;
  font-weight: bold;
  color: #fff;
  font-size: 24px;
  :hover{
    background-color: #fff;
    color: $azul;
  }
}

#btn-vermelho:hover{
  background-color: #fff;
  color: $azul;
}

.mapa-pegando-emergencia{
  width: 50%;
}

.todas-ocorrencias{
  width: 100%;
}

.display-para-flex{
  display: flex;
  width: 100%;
}
// e nessa apresentacao ja forma alguns minutosx
