.centraliziation-of-the-map{
  width: 430px;
  height: 820px;
  margin: 0 auto;
}

.messages-box{
  background-color: white;
  width: 400px;
  height: 240px;
  margin-top: 40px;
  padding-bottom: 20px;
  p{
    padding: 20px;
  }
}

.full-height{
  height: 902px;

}

.zeromp{
  margin: 0;
  padding: 0;
}

.border-radius-24{
  border-radius: 24px;
}

.pop-up-emergency{
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 24px;


}


@property --gradiente-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root{
  --clr-1: #cfcfcf;
  --clr-2: #FFF;
  --clr-3: #ff0000;
  --clr-4: #ffd0d0;
  --clr-5: #2822c1;
}

@keyframes rotation {
  0%  {--gradiente-angle: 0deg;}
  100%  {--gradiente-angle: 360deg;}
}


.card-jairo{
  height: 60vh;
  aspect-ratio: 1 / 1.5;
  background-color: var(--clr-1);
  border-radius: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.card-jairo::before, .card-jairo::after {
  content: "";
  position: absolute;
  inset: -.3rem;
  z-index: -1;
  background: conic-gradient(
      from var(--gradiente-angle),
      var(--clr-3),
      var(--clr-4),
      var(--clr-5),
      var(--clr-4),
      var(--clr-3)
  );
  border-radius: inherit;
  animation: rotation 6s linear infinite;
}

.card-jairo::after{
  filter: blur(4rem);
}

h1{
  color: #f5e5e5;
  text-align: center;

}

button{
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 60%;
  border-radius: 40px;
  padding: 12px 24px;
  font-weight: bold;
  font-size: larger;
}

.interno{
  margin: auto;
  display: flex;
  flex-direction: column;
}

.background-image-gradient{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.8));


}
