.centraliziation-of-the-map{
  background-color: aqua;
  width: 400px;
  height: 500px;
  margin: 0 auto;
}

.messages-box{
  background-color: black;
  width: 400px;
  height: 300px;
  margin-top: 60px;
  padding-bottom: 20px;

}

.full-height{
  height: 902px;

}

.zeromp{
  margin: 0;
  padding: 0;
}
