.centraliziation-of-the-map{
  width: 430px;
  height: 820px;
  margin: 0 auto;
}

.messages-box{
  background-color: white;
  width: 400px;
  height: 240px;
  margin-top: 40px;
  padding-bottom: 20px;
  p{
    padding: 20px;
  }
}

.full-height{
  height: 902px;

}

.zeromp{
  margin: 0;
  padding: 0;
}

.border-radius-24{
  border-radius: 24px;
}

.emergency-show {

  position: absolute;

  .button-finish-emergency {
    position: relative;
    top: -100px;
    left: 300px;
  }

  .button-finish {
    border-radius: 24px;
    color: white;
    font-weight: bold;
  }
}
