.navbar-lewagon {
  justify-content: space-between;
  background-color: $azul;
  a{
    color: $vermelho;
  }
  a:hover{
    color: $vermelho;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
