.navbar-lewagon {
  justify-content: center;
  background-color: $azul;
  a {
      color: #fdfdfd;
      font-weight: bold;
  }
  a:hover{
    color: $vermelho;
    font-weight: bold;
  }
}

.drop-jairo{
  border-radius: 24px;
  background-color: white;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

.botão-login-navbar {
  display: inline-block;
  padding: 5px 18px;
  font-size: 15px;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: $rose;
  color: #000000;
  border-radius: 24px;
  border: 2px solid $rose;
  transition: 0.5s;
  &:hover {
    transform: scale(1.1);
    color: $creme;
    box-shadow: 2px 2px 4px 0 #403e3e;
    background-color: $azul;
  }
}

.dropdown-item {
  background-color: $azul;
  border-radius: 10px;
  text-align: center;
  &:hover {
    background-color: $azul;
  }
}

.navbar-toggler {
  color: $creme;
  border: 1px solid;
}

.navbar-nav {
  margin-top: 16px;
}
